body {
    /*font-family: DejaVu Sans Mono, monospace;
    /* font-family: "Open Sans", sans-serif; */
    background-color: #67AFCB;
    line-height: 1em;
    font-family: helvetica;
}

.title {
    background-color: #347B98;
    font-weight: 900;
    color: #092834;
    /*font-family: DejaVu Sans Mono, monospace;*/
    border-radius: 0.6rem;
    /* border-color: black;
    border-width: 5px; */
    border: 1px solid #092834 !important;
    font-family: helvetica
}

.product {
    background-color: transparent;
    border-radius: 0.65rem;
    color: #092834;
}

.info_tab {
    border-width: 5px !important;
    border-color: black;
    background-color: #347B98;
    border-radius: 0.6rem;
    color: #092834;
    padding-top: 3px;
    padding-right: 3px;
    padding-bottom: 3px;
    padding-left: 3px;
    border: 1px solid #092834 !important;
}

.first {
    margin-bottom: 15px;
}

.DateRangePickerInput {
    background-color: transparent;
    border-color: #67AFCB !important;
    border: 0px;
}

.DateRangePickerInput__showClearDates {
    padding-right: 13px;
}

/* .Select-control, Select--single, .Select-multi-value-wrapper, .Select-value, .Select-value-label {
    background-color: #347B98 !important;
    color: #092834 !important;
} */

/* menu a tendina */
.Select-control, .Select-menu-outer {
    border: 1px solid #092834 !important;
    background-color: #347B98 !important;
    color: #092834 !important; /* colore testo menu tendina*/
}

.Select-control {
    border-radius: 0.6rem;
}

.DateInput {
    margin: 0;
    padding: 0;
    background: #67afcb;
    position: relative;
    display: inline-block;
    width: 130px;
    vertical-align: middle;
}

input[type="email"], input[type="number"], input[type="search"], input[type="text"], input[type="tel"], input[type="url"], input[type="password"], textarea, select {
    height: 38px;
    padding: 6px 10px;
    background-color: #347B98;
    border: 1px solid #092834;
    border-radius: 0.6rem;
    box-shadow: none;
    box-sizing: border-box;
    font-family: inherit;
    font-size: inherit;
    color: #092834;
    font-weight: bold;
}

/* testo dei box*/
.has-value.Select--single > .Select-control .Select-value .Select-value-label, .has-value.is-pseudo-focused.Select--single > .Select-control .Select-value .Select-value-label {
    color: #092834;
    font-weight: bold;
}
